.box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Times New Roman';
    font-size: 17px;
    /* font-weight: 900; */
    color:  #f45b15;
    border-radius: 10px 30px 10px 30px;
    width: 200px;
    margin:auto;
    text-align: center;  
    margin:12% 10% 10% 10%;
}

img{
    border-radius: 2.5%;
    transition: 0.2s all ease-in-out;
}

img:hover{
    transform: scale(1.15);
}
.rating{
    color: #eb692d;
    padding-top: 2%;
}

.genre{
    margin-top: -2%;
    font-style: italic;
    font-weight: 600;
    color: #535353;
}